<!DOCTYPE html>
<html>
  <head>
    <title>Simple Project</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
<body>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>&nbsp;&nbsp;
      <li><a href='/articles/add'>Add Article</a></li>
      <li><a href='/users/register'>Register</a></li>
      <li><a href='/users/login'>Login</a></li>
    </ul>
  </nav>
    <%- messages('message', locals) %>

