<!DOCTYPE html>
<html>
  <head>
    <title>Simple Project</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
<body>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>&nbsp;&nbsp;
      <li><a href='/articles/add'>Add Article</a></li>
      <li><a href='/article/edit/'+article._id>Edit</a></li>
    </ul>
  </nav>

