<% include partials/layout %>

<h1 class='center'><%= article.title %></h1>
<h5 class='center'>Written By: <%= article.author %></h5>
<p class='center'><%= article.body %></p>



<% include partials/footer %>
