<% include layout %>

  <h1><%= title %></h1>

  
  <ul>
    <% for(var i = 0; i < articles.length; i++) { %>
      <li><%= articles[i].author %></li>
      <li><%= articles[i].title %></li>
      <li><%= articles[i].body %></li>
      <hr>
    <% } %>
  </ul>
