<% include partials/layout %>

  <div class='login_container'>
    <h1>Login</h1>
    <form class='login_form' method='POST' action='/users/login'>
      <label>Username:<input name='username', type='text'/></label><br><br>
      <label>Password:<input name='password', type='password'/></label><br><br>
    </form>
    <button type='submit', value='Submit'>Submit</button>
  </div>

<% include partials/footer %>